<div class="container mt-5">
  <h3>Shop by category</h3>
</div>
<app-card-slider >
  <li class="list-unstyled item">
    <a href="#" draggable="false">
      <img draggable="false" src="/assets/Images/Categories/best-seller4.svg" alt="best-seller" class="w-75"/>
      <span class="d-block">best seller</span>
    </a>
  </li>
  @for (item of Categories; track item.id;let i=$index) {
  <li class="list-unstyled item">
    <a href="#" draggable="false">
      <img draggable="false" src="/assets/Images/Categories/{{ item.imagePath }}" [alt]="item.name" class="w-75"/>
      <span class="d-block">{{ item.name }}</span>
    </a>
  </li>
  }
</app-card-slider>
