<div class="gallery ">
    <div class="container">
        <div class="img-container">
            <img src="../../../../assets/Images/xiaomi/Xiaomi-Redmi-Note-13-Dual-Sim-256GB-8GB-Ram-4G_3978_2-768x768.png" id="prev" alt="" srcset="">
            <div class="img-prev text-centre">
                <div class="img-slider active">
                    <img src="../../../../assets/Images/xiaomi/2956-768x768.png"  appDemo alt="" srcset="">
                </div>
                <div class="img-slider">
                    <img src="../../../../assets/Images/xiaomi/2956-768x768.png" appDemo alt="" srcset="">
                </div>
                <div class="img-slider">
                    <img src="../../../../assets/Images/xiaomi/2956-768x768.png" appDemo alt="" srcset="">
                </div>
                <div class="img-slider">
                    <img src="../../../../assets/Images/xiaomi/2956-768x768.png"  alt="" srcset="" appDemo>
                </div>
            </div>
        </div>
        
    </div>
</div>