<nav class="navbar navbar-expand-lg navbar-light p1">
  <div class="container-fluid">
    <a class="navbar-brand fs-6" href="#">
      <i class="fa fa-solid fa-truck fa-flip-horizontal"></i>
      Free Delivery on Orders over
      <span class="fs-6 text fw-medium">500 EGP</span>
    </a>

    <div class="fw-medium navbar-nav ms-auto">
      <a class="nav-link" href="tel:15254">
        <i class="fa fa-solid fa-phone"></i>
        15254
      </a>
      <a class="nav-link" href="whatsapp://send?phone=+20 110 043 2184">
        <i class="fa fa-brands fa-whatsapp" id="whatsapp"></i>
        Whatsapp Support
      </a>
      <a class="nav-link" href="#">
        <i class="material-icons">storefront</i>
        Store Locator
      </a>
      <a class="nav-link" href="#">
        <i class="material-icons">|</i>
        العربية
      </a>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg p2">
  <div class="container-fluid">
    <a class="navbar-brand fs-3"routerLink="">
      <img src="/assets/dubai-logo-svg.svg" />
    </a>
    <div class="search-bar s">
      <i class="fa fa-search" id="search"></i>
      <input type="text" placeholder="Search products..." />
    </div>
    <div class="btns d-flex gap-4">
      @if(!isLoggedIn){

        <button type="button" class="btn btn-primary custom-button" routerLink="/login">
          <i class="material-icons button-icon">person</i>
          Login
        </button>
      }
      @else{
        <button type="button" class="btn btn-primary custom-button" routerLink="/account">
          <i class="material-icons button-icon">person</i>
          Account
        </button>
        <button type="button" class="btn btn-primary custom-button" routerLink="/account">
          <i class="fa-solid fa-heart me-2 text-black"></i>
          Wishlist
        </button>
      }
      <button type="button" class="btn btn-primary custom-button">
        <i class="fa fa-solid fa-cart-plus button-icon"></i>
        Cart<span class="fs-6 text fw-medium px-2"> ({{ cartCount }})</span>
      </button>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light p3 position-relative">
  <div class="container-fluid">
    <a class="text-danger fw-medium nav-link">
      <img src="/assets/last-piece.svg" />
      Last Piece
    </a>

    <!--=============== Dropdown ============================ -->
    <div class="Filter ">

      <button class="border-0 bg-transparent  toggle-btn" (click)="toggleDropdown($event)">Mobiles & Tablets<i class="fa-solid fa-angle-down arrow arrow-up ms-2 "></i></button>
      <div class="menu d-flex gap-5">
        <div class="">
          <h4 class="fw-semibold">Mobiles</h4>
          <ul class="list-unstyled">
            @for (item of mobiles; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/mobile/'+item.toLowerCase()]"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
        <div class="">
          <h4 class="fw-semibold">Tablets</h4>
          <ul class="list-unstyled">
            @for (item of tablets; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/tablets/']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
      </div>

      <button class="border-0 bg-transparent toggle-btn " (click)="toggleDropdown($event)">Laptops & Printers<i class="fa-solid fa-angle-down arrow arrow-up ms-2 "></i></button>
      <div class="menu d-flex gap-5">
        <div class="">
          <h4 class="fw-semibold">Laptops</h4>
          <ul class="list-unstyled">
            @for (item of laptop; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/laptop/'+item.toLowerCase()]"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }} Laptop</a
              >
            </li>
            }
          </ul>
        </div>
        <div class="">
          <h4 class="fw-semibold">Printers</h4>
          <ul class="list-unstyled">
            @for (item of printers; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/printers']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
      </div>

      <button class="border-0 bg-transparent  toggle-btn" (click)="toggleDropdown($event)">TVs & Monitors<i class="fa-solid fa-angle-down arrow arrow-up ms-2 "></i></button>
      <div class="menu d-flex gap-5">
        <div class="">
          <h4 class="fw-semibold">TVs</h4>
          <ul class="list-unstyled">
            @for (item of Tvs; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/tvs']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
        <div class="">
          <h4 class="fw-semibold">Monitors</h4>
          <ul class="list-unstyled">
            @for (item of monitors; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/tvs']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
      </div>

      <button class="border-0 bg-transparent toggle-btn " (click)="toggleDropdown($event)">Gaming<i class="fa-solid fa-angle-down arrow arrow-up ms-2 "></i></button>
      <div class="menu d-flex gap-5">
        <div class="">
          <h4 class="fw-semibold">Games & Consoles</h4>
          <ul class="list-unstyled">
            @for (item of games; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/games']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
      </div>

      <button class="border-0 bg-transparent toggle-btn " (click)="toggleDropdown($event)">Accessories<i class="fa-solid fa-angle-down arrow arrow-up ms-2 "></i></button>
      <div class="menu d-flex gap-5">
        <div class="">
          <h4 class="fw-semibold">Mobile Accessories</h4>
          <ul class="list-unstyled">
            @for (item of mobileAccessories; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/accessories']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
        <div class="">
          <h4 class="fw-semibold">Laptops Accessories</h4>
          <ul class="list-unstyled">
            @for (item of laptopsAccessories; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/accessories']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
        <div class="">
          <h4 class="fw-semibold">Other Accessories</h4>
          <ul class="list-unstyled">
            @for (item of otherAccessories; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/accessories']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
      </div>

      <button class="border-0 bg-transparent toggle-btn " (click)="toggleDropdown($event)">Home Appliances<i class="fa-solid fa-angle-down arrow arrow-up ms-2 "></i></button>
      <div class="menu d-flex gap-5">
        <div class="">
          <h4 class="fw-semibold">Kitchen Appliances</h4>
          <ul class="list-unstyled">
            @for (item of kitchenAppliances; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/kitchenappliances']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
        <div class="">
          <h4 class="fw-semibold">Small Appliances</h4>
          <ul class="list-unstyled">
            @for (item of smallAppliances; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/category/smallappliances']"
                routerLinkActive="router-link-active" (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
      </div>

      <button class="border-0 bg-transparent toggle-btn " (click)="toggleDropdown($event)">Brand<i class="fa-solid fa-angle-down arrow arrow-up ms-2 "></i></button>
      <div class="menu d-flex gap-5">
        <div class="">
          <h4 class="fw-semibold">Main Brand</h4>
          <ul class="list-unstyled">
            @for (item of mainBrands; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/brand/' + item.toLowerCase()]"
                routerLinkActive="router-link-active"
                (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
        <div class="">
          <h4 class="fw-semibold">Other Brands</h4>
          <ul class="list-unstyled">
            @for (item of otherBrands; track $index) {
            <li class="p-2">
              <a
                class="nav-link"
                [routerLink]="['/brand/' + item.toLowerCase()]"
                routerLinkActive="router-link-active"
                (click)="closeMenu()"
                >{{ item }}</a
              >
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="overlay" [hidden]="!isDropdownOpen" (click)="closeMenu()"></div>
