<div class="wrapper">

  <app-categories></app-categories>
  <section>
    <div class="container mx-auto mx-5 position-relative">
      <a href="#">
        <img class="w-100" src="assets/Images/a15-hurry-up-web-en-copy.webp" alt="hurry-up">
      </a>
    </div>
  </section>
  <app-brands></app-brands>
  <app-product-section imagePath="newArrival.webp" title="New Arrivals" ></app-product-section>
  <app-product-section imagePath="apple-sec.webp" title="Apple" ></app-product-section>
  <app-product-section imagePath="laptopSec.webp" title="Laptops" ></app-product-section>
  <app-product-section imagePath="WatchSec.webp" title="Smart Watch" ></app-product-section>
  <app-product-section imagePath="homeSec.webp" title="Home Appliances" ></app-product-section>
  <app-product-section imagePath="sound.webp" title="Sound" ></app-product-section>
</div>
