<div class="prdCard" [ngClass]="{'grid-one': isGridOne}">
  <div class="card-label">
    <p class="m-0">Sale!</p>
  </div>
  <div class="card-img">
    <img
      src="assets/Images/Apple-IPhone-14-Plus-With-FaceTime-128GB-6GB-RAM_Apple_3913_2-441x441.jpeg"
      alt=""
    />
  </div>
  <div class="card-content">
    <p class="text-black fw-semibold">
      Apple-IPhone-14-Plus-With-FaceTime-128GB-6GB-RAM_Apple
    </p>
    <div class="d-flex flex-column g-1">
      <div class="price">
        <ins class="highlight">
          <span class="amount">
            <bdi>1277</bdi>
            <span> EGP</span>
          </span>
        </ins>
        <del class="strike">
          <span class="amount">
            <bdi>1277</bdi>
            <span> EGP</span>
          </span>
        </del>
      </div>
    </div>
    <div class="card-btn">
      <a href="#">
        <img class="d-block" src="assets/Images/cart.svg" alt="cart" />
        <span>Add To Cart</span>
      </a>
    </div>
  </div>
</div>
