<div class="wrapper" (mouseenter)="clear()" (mouseleave)="autoPlay()">
  <div class="left-arrow" [hidden]="isSmall">
    <i class="bi bi-arrow-left fs-4" (click)="arrowClick($event)" id="left"></i>
  </div>

  <ul
    class="inf-carousel text-center overflow-hidden"
    (mousedown)="dragStart($event)"
    (mousemove)="dragging($event)"
    (scroll)="infiniteScroll()"
    [ngClass]="{'small': isSmall}"
    #carousel
  >
    <ng-content> </ng-content>
  </ul>
  <div class="right-arrow" (click)="arrowClick($event)" [hidden]="isSmall">
    <i class="bi bi-arrow-right fs-4" ></i>
  </div>
</div>
